{# login.html #}
{% extends "base.html" %}
{% block body %}
  {% if result.error %}
    <h2>Damn that error: {{ result.error.message }}</h2>
  {% endif %}
  {% if result.user %}
      <h1>Hi {{ result.user.name }}</h1>
      <h2>Are you ready to YOLO???</h2>
  {% endif %}

  {% if result.user.credentials %}
  <form action="/yolo" method="get">
    <p>
      <label>
        Hashtag?
        <input type="text" name="hashtag">
      </label>
    </p>
    <p class="submit">
      <button type="submit">Yolo!</button>
    </p>
  </form>

  {% endif %}{# result.user.credentials #}
{% endblock %}