{# login.html #}
{% extends "base.html" %}
{% block body %}
    <a href="/">Home</a>
{% if result.error %}
      <h2>Damn that error: {{ result.error.message }}</h2>
  {% endif %}
{% if result.user %}
    <h1>Hi {{ result.user.name }}</h1>
    <h2>Your id is: {{ result.user.id }}</h2>
{% endif %}
{% if result.user.credentials %}
  {% if result.provider.name == 'tw' %}
    {% set url = 'https://api.twitter.com/1.1/search/tweets.json?q=%23meetmatt&count=5' %}
    {% set response = result.provider.access(url) %}
    {% if response.status == 200 %}
      {% if response.data.errors %}
        Damn that error: {{ response.data.errors }}!
      {% endif %}
      {% if response.data %}
        Your 5 most recent hashtags:<br />
        {% for tweet in response.data %}
            <h3>{{ tweet.text }}</h3>
            Posted on: {{ tweet.created_at }}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endif %}{# result.provider.name == 'tw' #}
{% endif %}{# result.user.credentials #}
{% endblock body %}