{# login.html #}
{% extends "base.html" %}
{% block imahe %}{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>TambYOLO Draw Here!</h3>
      <form action="/yolo" method="get" class="form-signin">
        <div class="form-group">
          <label for="hashtag"> Hashtag? </label>
          <input type="text" class="form-control" placeholder="#lakers" id="hashtag" name="hashtag">
        </div>
        <div class="form-group">
          <label for="how_many">No. of winners? <sup>(not working yet)</sup> </label>
          <input type="text" class="form-control" id="how_many" value=1 name="how_many" disabled>
        </div>
        <p class="submit">
          <button class="btn-md btn btn-primary" type="submit">YOLO!</button>
        </p>
      </form>
    </div>
    <div class="col-md-6">
      {% if tweet: %}
      <h3>The Winner</h3>
      <blockquote class="twitter-tweet">
      <p>{{ tweet.text }}</p> {{tweet.user.name}} (@{{tweet.user.screen_name}}) <a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" data-datetime="{{tweet.id_str}}">{{ tweet.id_str }}</a>
      </blockquote>
      {% else: %}
      <h3>Draw now!!!</h3>
      <blockquote class="twitter-tweet">
      You have no winner yet.
      </blockquote>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
