{# login.html #}
{% extends "base.html" %}
{% block body %}
  <a href="/">Home</a>
  {% if result.error %}
    <h2>Damn that error: {{ result.error.message }}</h2>
  {% endif %}
  {% if result.user %}
      <h1>Hi {{ result.user.name }}</h1>
      <h2>Your id is: {{ result.user.id }}</h2>
  {% endif %}

  {% if result.user.credentials %}

  <form action="/yolo" method="get">
    <p>
      <label>
        Hashtag?
        <input type="text" name="hashtag">
      </label>
    </p>
    <p class="submit">
      <button type="submit">YOLO!</button>
    </p>
  </form>
    <!--
      Dito ko ba save sa SESSION?
      Load some form here?
      Upon submit, call def yolo...
    -->
  {% endif %}{# result.user.credentials #}
{% endblock %}