{# login.html #}
{% extends "base.html" %}
{% block body %}
  <h1>Big Winner!!!</h1>
  <h2>Bigyan ng jacket si...</h2>
    <div class="row">
      <div class="col-md-2">
        <h3>{{ tweet.user.name }} <small>@{{ tweet.user.screen_name }}</small></3></h3>
      </div>
      <div class="col-md-6 bubble">
        {{ tweet.text }}
        <a href="#" data-datetime="{{ tweet.created_at }}">{{ tweet.created_at }}</a>
      </div>
    </div>
  {% if tweets.statuses %}
    <h2>The Nominees Were:</h2>
    {% for tweet in tweets.statuses %}
      <div class="row">
        <div class="col-md-2">
          <h3>{{ tweet.user.name }} <small>@{{ tweet.user.screen_name }}</small></3></h3>
        </div>
        <div class="col-md-6 bubble">
          {{ tweet.text }}
          <a href="#" data-datetime="{{ tweet.created_at }}">{{ tweet.created_at }}</a>
        </div>
      </div>
    {% endfor %}
  <form action="/yolo" method="get">
    <p>
      <label>
        Hashtag?
        <input type="text" name="hashtag">
      </label>
    </p>
    <p>
      <label>
        How many winnersss???
        <input type="text" value=10 name="how_many" disabled>
      </label>
    </p>
    <p class="submit">
      <button type="submit">YOLO!</button>
    </p>
  </form>
  {% endif %}{# if tweets.statuses #}
{% endblock %}
